<%= link_to 'Add Comment', new_article_comment_path(@article) %>

<% if @article.comments.any? %>
  <% @article.comments.each do |comment| %>
  <p><%= comment.comment %></p>
  <p>Comment left by: <%= comment.user.name %></p>
  <% if can? :modify, comment %>
  <%= link_to 'Edit Comment', edit_article_comment_path(@article, comment) %>
  <% end %>
  <hr>
  <% end %>
<% else %>
  <p>No comments have been left yet.</p>
<% end %>
